.map-container {
    display: flex;
    height: 100px;
  }
  
  .map-controls {
    display: flex;
    flex-direction: row; 
    flex: 0 0 auto;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px
  }
  .boton {
    margin: 5px;
    padding: 10px 20px; 
    border: none;
    border-radius: 10px;
    background-color: #ff6000;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer; 
    text-align: center; 
    width: 100%;
    box-sizing: border-box;
  }
  .transparent-shadow {
    opacity: 0.1; /* Ajusta este valor entre 0 (completamente transparente) y 1 (completamente opaco) */
}

  