<body>  
    <app-navbar-principal></app-navbar-principal>
  <div class="container pt-5">
      <div class="d-flex flex-column text-center mb-5">
          <h1 class="display-4 m-0"><span class="text-primary">Recursos</span> Educativos</h1>
      </div>
      <div class="row pb-3">
          <div class="col-lg-4 mb-4">
              <div class="card border-0 mb-2">
                  <img class="card-img-top" src="assets/img/blog-1.jpg" alt="">
                  <div class="card-body bg-light p-4">
                      <h4 class="card-title text-truncate">Esterilización</h4>
                      <div class="d-flex mb-3">
                          <small class="mr-2"><i class="fa fa-user text-muted"></i> Vet Family</small>
                          <small class="mr-2"><i class="fa fa-folder text-muted"></i> Vet Family</small>
                      </div>
                      <p>La decisión de esterilizar a nuestro animal es un acto de responsabilidad hacia él, básica para prevenir y evitar problemas de salud y de bienestar general (emocional, físico y hormonal).</p>
                      <a class="font-weight-bold" href="https://clinicaveterinariavetfamily.com/la-importancia-de-la-esterilizacion-y-el-cuidado-responsable-de-los-animales/">Leer mas</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-4">
              <div class="card border-0 mb-2">
                  <img class="card-img-top" src="assets/img/blog-2.jpg" alt="">
                  <div class="card-body bg-light p-4">
                      <h4 class="card-title text-truncate">Beneficios de las mascotas</h4>
                      <div class="d-flex mb-3">
                          <small class="mr-2"><i class="fa fa-user text-muted"></i> Sandee LaMotte</small>
                          <small class="mr-2"><i class="fa fa-folder text-muted"></i> CNN</small>
                      </div>
                      <p>Los dueños de mascotas ciertamente creen que sus mascotas brindan apoyo emocional, especialmente en momentos de estrés, afortunadamente la ciencia parece respaldar eso.</p>
                      <a class="font-weight-bold" href="https://cnnespanol.cnn.com/2022/04/11/tener-mascota-beneficios-ventajas-ciencia/">Leer mas</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-4">
              <div class="card border-0 mb-2">
                  <img class="card-img-top" src="assets/img/blog-3.jpg" alt="">
                  <div class="card-body bg-light p-4">
                      <h4 class="card-title text-truncate">Alimentación</h4>
                      <div class="d-flex mb-3">
                          <small class="mr-2"><i class="fa fa-user text-muted"></i> Natural Wil</small>
                          <small class="mr-2"><i class="fa fa-folder text-muted"></i> Canales sectoriales</small>
                      </div>
                      <p>Todo aquel que ama a su mascota se preocupa en algún momento por su alimentación, y ello engloba descubrir qué alimentos son los más adecuados para su salud.</p>
                      <a class="font-weight-bold" href="https://www.interempresas.net/Mascotas/Articulos/389353-Los-beneficios-de-la-alimentacion-natural-para-las-mascotas.html">Leer mas</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>