<div class="body">
  <div class="center">
    <h1 class="display-4 mb-4" style="text-align: center;">Casa de la Mascota<span class="text-primary"> Actualizar doctor</span></h1>

    <form [formGroup]="formularioAdmDoc">
      <mat-form-field style="width: 60%; margin-right: 1em;">
        <mat-label>ID Doctor:</mat-label>
        <input matInput type="number" formControlName="id_doctor" />
        <div *ngIf="formularioAdmDoc.controls['id_doctor'].invalid && formularioAdmDoc.controls['id_doctor'].touched">
          <div *ngIf="formularioAdmDoc.controls['id_doctor'].errors?.['required']"></div>
        </div>
      </mat-form-field>
      <button mat-raised-button color="secondary" (click)="buscarDoc()">Buscar</button>

      <mat-form-field class="ancho">
        <mat-label>Nombre:</mat-label>
        <input matInput type="text" formControlName="nombre" />
        <div *ngIf="formularioAdmDoc.controls['nombre'].invalid && formularioAdmDoc.controls['nombre'].touched">
          <div *ngIf="formularioAdmDoc.controls['nombre'].errors?.['required']"></div>
        </div>
      </mat-form-field>

      <mat-form-field class="ancho">
        <mat-label>Apellido:</mat-label>
        <input matInput type="text" formControlName="apellido" />
        <div *ngIf="formularioAdmDoc.controls['apellido'].invalid && formularioAdmDoc.controls['apellido'].touched">
          <div *ngIf="formularioAdmDoc.controls['apellido'].errors?.['required']"></div>
        </div>
      </mat-form-field>

      <mat-form-field class="ancho">
        <mat-label>Telefono:</mat-label>
        <input matInput type="number" formControlName="numero_tel" />
        <div *ngIf="formularioAdmDoc.controls['numero_tel'].invalid && formularioAdmDoc.controls['numero_tel'].touched">
          <div *ngIf="formularioAdmDoc.controls['numero_tel'].errors?.['required']"></div>
        </div>
      </mat-form-field>

      <mat-form-field class="ancho">
        <mat-label>Direccion:</mat-label>
        <input matInput type="text" formControlName="direccion" />
        <div *ngIf="formularioAdmDoc.controls['direccion'].invalid && formularioAdmDoc.controls['direccion'].touched">
          <div *ngIf="formularioAdmDoc.controls['direccion'].errors?.['required']"></div>
        </div>
      </mat-form-field>
      <br>
      <button type="submit" class="ancho" mat-raised-button color="primary" [disabled]="formularioAdmDoc.invalid" (click)="actualizarFormularioAdmDoc()">Guardar</button>
    </form>
  </div>
</div>

<div *ngIf="Noencontrado == true">
  No se encontro registro
</div>
