<div class="body">
    <div class="center">
      <h1 class="display-4 mb-4" style="text-align: center;">Casa de la Mascota<span class="text-primary"> Actualizar Cirugia</span></h1>
  
      <form [formGroup]="formularioAdmCit">
        <mat-form-field class="ancho">
            <mat-label>Fecha:</mat-label>
            <input matInput type="date" formControlName="fecha" />
            <div *ngIf="formularioAdmCit.controls['fecha'].invalid && formularioAdmCit.controls['fecha'].touched">
              <div *ngIf="formularioAdmCit.controls['fecha'].errors?.['required']"></div>
            </div>
          </mat-form-field>
          <mat-form-field class="ancho">
            <mat-label>Hora:</mat-label>
            <input matInput type="text" formControlName="hora" />
            <div *ngIf="formularioAdmCit.controls['hora'].invalid && formularioAdmCit.controls['hora'].touched">
              <div *ngIf="formularioAdmCit.controls['hora'].errors?.['required']"></div>
            </div>
          </mat-form-field>
          <mat-form-field class="ancho">
            <mat-label>Género:</mat-label>
            <select matNativeControl id="Servicio_id_servicio" name="Servicio_id_servicio" formControlName="Servicio_id_servicio">
              <option value=""></option>
              <option value="{{ Servicio_id_servicio[0] }}">{{ Servicio_id_servicio[0] }}</option>
              <option value="{{ Servicio_id_servicio[1] }}">{{ Servicio_id_servicio[1] }}</option>
            </select>
            <div *ngIf="formularioAdmCit.controls['Servicio_id_servicio'].invalid && formularioAdmCit.controls['Servicio_id_servicio'].touched">
              <div *ngIf="formularioAdmCit.controls['Servicio_id_servicio'].errors?.['required']">Este campo es obligatorio.</div>
            </div>
          </mat-form-field>
          <mat-form-field class="ancho">
            <mat-label>ID de la mascota:</mat-label>
            <input matInput type="number" formControlName="Mascota_id_mascota" />
            <div *ngIf="formularioAdmCit.controls['Mascota_id_mascota'].invalid && formularioAdmCit.controls['Mascota_id_mascota'].touched">
              <div *ngIf="formularioAdmCit.controls['Mascota_id_mascota'].errors?.['required']"></div>
            </div>
          </mat-form-field>
          <br>
          <button type="submit" class="ancho" mat-raised-button color="primary" [disabled]="formularioAdmCit.invalid" (click)="actualizarFormularioAdmCit()">Guardar</button>        
        </form>
    </div>
  </div>