<app-navbar-owner></app-navbar-owner>
<br>
<h1 class="display-1" style="font-family:'Copperplate';text-align: center;">Casa de la Mascota</h1>
  <p class="center">Pionera en implantar el programa de Adopciones en Bolivia</p>

  <div class="container">
    <h2 class="subtitle">Los perros y gatos entran a un Programa de adopción</h2>
    <p>Los interesados deben llenar una evaluación previa para ser aprobados antes de firmar el Certificado de Adopción (documento privado).
      Mediante este, el nuevo propietario se compromete a darle albergue, alimentación y un seguimiento mínimo veterinario.</p>
    <p>No encadenarlo, no maltratarlo, no utilizarlo en experimentos científicos y no cederlos a terceros sin conocimiento de nuestra organización
      son otros requisitos para la adopción.</p>
  </div>

  <div class="charts-container">
    <div class="chart">
      <div class="chart-circle" style="--percent: 85;">
        <img src="https://scontent.flpb1-2.fna.fbcdn.net/v/t39.30808-6/367996362_674194121408859_5337806216328471061_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_ohc=wCEVs7Mro-sAX-uPIs3&_nc_ht=scontent.flpb1-2.fna&oh=00_AfD3S4mzALTFjxFGIh0ZHdlFdKezDSGYTfs_IwYX9H14Nw&oe=64E81BA4" style="height: 150px;width: 150px;">  
      </div>
      <span class="chart-label">Seguridad</span>
    </div>
    <div class="chart">
      <div class="chart-circle" style="--percent: 80;">
        <img src="https://scontent.flpb1-2.fna.fbcdn.net/v/t39.30808-6/367697499_674166108078327_3637098523591653866_n.jpg?stp=cp6_dst-jpg&_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=hXlSFaiu-MgAX8nhgwv&_nc_ht=scontent.flpb1-2.fna&oh=00_AfCxZa8R5ITyp2KqeVCq67yrmbhE8t0xHlwgwSOKlMqcig&oe=64E78F36" style="height: 150px;width: 150px;"></div>
      <span class="chart-label">La mejor atención</span>
    </div>
    <div class="chart">
      <div class="chart-circle" style="--percent: 80;">
        <img src="../../../../assets/images/carusel-2.png" style="height: 150px;width: 150px;"></div>
      <span class="chart-label">Mejores Doctores</span>
    </div>
    <div class="chart">
      <div class="chart-circle" style="--percent: 80;">
        <img src="https://scontent.flpb1-1.fna.fbcdn.net/v/t39.30808-6/368268190_676312107863727_1271489166285785838_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=CFzia2zgYHIAX8W2ItS&_nc_ht=scontent.flpb1-1.fna&oh=00_AfA-BPUlq_YzUf0WAPHKVOaIAcTQs1izkc0_vQhe1JGLtw&oe=64E7EFD9" style="height: 150px;width: 150px;"></div>
      <span class="chart-label">Certificado</span>
    </div>
  </div>

<div class="container-fluid">
  <div class="container">
    <h2 class="subtitle" style="font-family:'Copperplate';text-align: center;">Formulario de Adopción</h2>
      <div class="row align-items-center">
          <div class="col-lg-5">
              <div class="bg-primary py-5 px-4 px-sm-5">
                  <form class="py-5">
                      <div class="form-group">
                          <input type="text" class="form-control border-0 p-4" placeholder="Nombre" required="required" />
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control border-0 p-4" placeholder="Apellido" required="required" />
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control border-0 p-4" placeholder="Correo" required="required" />
                      </div>
                      <div class="form-group">
                        <input type="number" class="form-control border-0 p-4" placeholder="Telefono" required="required" />
                      </div>
                      <div class="form-group">
                          <select class="custom-select border-0 px-4" style="height: 47px;">
                              <option selected>Tipo mascota</option>
                              <option value="1">Perro</option>
                              <option value="2">Gato</option>
                              <option value="3">Loro</option>
                              <option value="4">Tortuga</option>
                              <option value="5">Hamster</option>
                          </select>
                      </div>
                      <div>
                          <button class="btn btn-dark btn-block border-0 py-3" type="submit">Enviar solicitud de adopcion</button>
                      </div>
                  </form>
              </div>
          </div>
          <div class="col-lg-7 py-5 py-lg-0 px-3 px-lg-5">
              <h1 class="display-4 mb-4">Casa de la Mascota<span class="text-primary"> Adopciones</span></h1>
              <p>Las adopciones se atienden de lunes a viernes de 9:00 a 13:30 – 14:30 a 17:30. Sábados y domingos de 10:00 a 16:00 horas.</p>
              <div class="row py-2">
                  <div class="col-sm-6">
                      <div class="d-flex flex-column">
                          <div class="d-flex align-items-center mb-2">
                              <h1 class="flaticon-house font-weight-normal text-secondary m-0 mr-3"></h1>
                              <h5 class="text-truncate m-0">Casa propia y permiso escrito.</h5>
                          </div>
                          <p>Fotocopia de la última factura de luz o agua.</p>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="d-flex flex-column">
                          <div class="d-flex align-items-center mb-2">
                              <h1 class="flaticon-food font-weight-normal text-secondary m-0 mr-3"></h1>
                              <h5 class="text-truncate m-0">Fotocopia de C.I.</h5>
                          </div>
                          <p>La persona tiene que ser mayor de 21 años.</p>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="d-flex flex-column">
                          <div class="d-flex align-items-center mb-2">
                              <h1 class="flaticon-grooming font-weight-normal text-secondary m-0 mr-3"></h1>
                              <h5 class="text-truncate m-0">Cubrir el 50% del costo de 2 vacunas</h5>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="d-flex flex-column">
                          <div class="d-flex align-items-center mb-2">
                              <h1 class="flaticon-toy font-weight-normal text-secondary m-0 mr-3"></h1>
                              <h5 class="text-truncate m-0">Número de teléfono fijo.</h5>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>