<app-navbar-administrador></app-navbar-administrador>
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="../../../../assets/images/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 800px;">
                        <h1 class="display-3 text-white mb-3">Misión</h1>
                        <h3 class="text-white mb-3 d-none d-sm-block">Brindar atención veterinaria de calidad y compasiva a las mascotas, promoviendo su bienestar y fortaleciendo los lazos entre las familias y sus fieles compañeros. Nos esforzamos por ser un refugio de confianza donde cada mascota reciba cuidado experto y amoroso.</h3>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="../../../../assets/images/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 800px;">
                        <h1 class="display-3 text-white mb-3">Visión</h1>
                        <h3 class="text-white mb-3 d-none d-sm-block">Ser reconocidos como líderes en atención veterinaria, estableciendo estándares de excelencia en el cuidado de las mascotas. Aspiramos a construir una comunidad en la que la salud y la felicidad animal sean prioridades fundamentales, impactando positivamente la vida de las familias y sus queridos animales.</h3>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="../../../../assets/images/carousel-3.png" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 800px;">
                        <h1 class="display-3 text-white mb-3">Objetivo</h1>
                        <h3 class="text-white mb-3 d-none d-sm-block">Nuestro objetivo es proporcionar servicios veterinarios integrales y personalizados que aborden las necesidades individuales de cada mascota. Buscamos educar a los dueños de mascotas sobre prácticas de cuidado responsable y prevención de enfermedades, a la vez que fomentamos un entorno de confianza y respeto mutuo entre los profesionales veterinarios, los animales y sus familias.</h3>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-primary rounded" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>

<!-- About Start -->
<div class="container py-5">
    <div class="row py-5">
        <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
            <h1 class="display-4 mb-4" style="font-size: 50px;"><span class="text-primary">Ubicación</span></h1>
            <h5 class="text-muted mb-3" style="font-size: 20px;">La Casa de la Mascota se encuentra estratégicamente ubicada en Regimiento Castrillo #4 de la ciudad de La Paz.</h5>
        </div>
        <div class="col-lg-5">
            <div class="row px-3">
                <div class="col-12 p-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2274.655530929053!2d-68.11708595441439!3d-16.500868654677998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f205cd1e600fb%3A0x299dd3860cd88824!2sCasa%20de%20la%20Mascota!5e0!3m2!1ses-419!2sbo!4v1692572664311!5m2!1ses-419!2sbo" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->