<app-navbar-administrador></app-navbar-administrador>
<div class="container">
  <form [formGroup]="formularioUsuario" (ngSubmit)="enviarFormulario()" class="form-container">
    <div class="d-flex flex-column text-center mb-5">
      <h1 class="display-4 m-0"><span class="text-primary">Agregar Nuevo Usuario</span></h1>
    </div>

    <mat-form-field class="ancho">
      <mat-label>Nombre de Usuario:</mat-label>
      <input matInput type="text" formControlName="username" />
      <mat-error *ngIf="formularioUsuario.controls['username'].invalid && formularioUsuario.controls['username'].touched">
        Nombre de usuario es requerido.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="ancho">
      <mat-label>Contraseña:</mat-label>
      <input matInput type="password" formControlName="hashed_password" />
      <mat-error *ngIf="formularioUsuario.controls['hashed_password'].invalid && formularioUsuario.controls['hashed_password'].touched">
        Contraseña es requerida.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="ancho">
      <mat-label>Tipo de Usuario:</mat-label>
      <mat-select formControlName="rol">
        <mat-option value="Doctor">Doctor</mat-option>
        <mat-option value="Estilista">Estilista</mat-option>
        <mat-option value="Enfermero">Enfermero</mat-option>
        <mat-option value="Owner">Owner</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="ancho" *ngIf="formularioUsuario.get('rol').value === 'Doctor'">
      <mat-label>Especialidad:</mat-label>
      <input matInput type="text" formControlName="especialidad" />
    </mat-form-field>

    <mat-form-field class="ancho">
      <mat-label>Persona:</mat-label>
      <mat-select formControlName="id_persona">
        <mat-option *ngFor="let persona of personas" [value]="persona.id_persona">
          {{ persona.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="btn btn-primary color-primary" mat-button (click)="irCrearPersona()">Crear</button>
    <button type="submit" class="ancho mat-raised-button color-primary btn btn-primary" [disabled]="formularioUsuario.invalid">Guardar</button>
  </form>
</div>
