
<div class="body">
  <div class="center">
    <h1 class="display-4 mb-4" style="text-align: center;">Agregar<span class="text-primary"> Cirugia</span></h1>

    <form [formGroup]="formCirugia" (ngSubmit)="onSubmit()">
      <mat-form-field style="width: 45%; margin-right: 1em;">
        <mat-label>Fecha de la cirugia:</mat-label>
        <input matInput [min]="minDate" type="date" formControlName="fecha" />
        <div *ngIf="formCirugia.controls['fecha'].invalid && formCirugia.controls['fecha'].touched">
          <div *ngIf="formCirugia.controls['fecha'].errors?.['required']"></div>
        </div>
      </mat-form-field>
      <mat-checkbox formControlName="cirugiahecha" id="cirugiahecha" name="cirugiahecha">
        Cirugia realizada?
      </mat-checkbox>
      <mat-form-field class="ancho">
        <mat-label>Doctor:</mat-label>
        <mat-select formControlName="id_usuario">
          <mat-option *ngFor="let doctor of doctores" [value]="doctor.id_usuario">
            {{ doctor.persona.nombre }} {{ doctor.persona.apellido }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Enfermero:</mat-label>
        <mat-select formControlName="id_usuario">
          <mat-option *ngFor="let enfermero of enfermeros" [value]="enfermero.id_usuario">
            {{ enfermero.persona.nombre }} {{ enfermero.persona.apellido }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Dueño:</mat-label>
        <mat-select formControlName="id_usuario">
          <mat-option *ngFor="let owner of owners" [value]="owner.id_usuario">
            {{ owner.persona.nombre }} {{ owner.persona.apellido }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button button type="submit" class="ancho" mat-raised-button color="primary" [disabled]="formCirugia.invalid" (click)="guardarCirugia()">Guardar</button>
    </form>
  </div>
</div>