<app-navbar-doctor></app-navbar-doctor>
<div class="body">
    <div class="center">
      <h1 class="display-4 mb-4" style="text-align: center;">Agregar<span class="text-primary"> Tratamiento</span></h1>
      <form [formGroup]="formTratamiento" (ngSubmit)="onSubmit()">
        <mat-form-field class="ancho">
          <mat-label>Fecha de inicio:</mat-label>
          <input matInput type="date" formControlName="fecha_inicio" />
          <div *ngIf="formTratamiento.controls['fecha_inicio'].invalid && formTratamiento.controls['fecha_inicio'].touched">
            <div *ngIf="formTratamiento.controls['fecha_inicio'].errors?.['required']"></div>
          </div>
        </mat-form-field>
        <mat-form-field class="ancho">
          <mat-label>Fecha de final:</mat-label>
          <input matInput type="date" formControlName="fecha_final" />
          <div *ngIf="formTratamiento.controls['fecha_final'].invalid && formTratamiento.controls['fecha_final'].touched">
            <div *ngIf="formTratamiento.controls['fecha_final'].errors?.['required']"></div>
          </div>
        </mat-form-field>
        <mat-form-field class="ancho">
          <mat-label>ID del Dueño:</mat-label>
          <input matInput type="text" formControlName="Diagnostico_id_diagnostico" />
          <div *ngIf="formTratamiento.controls['Diagnostico_id_diagnostico'].invalid && formTratamiento.controls['Diagnostico_id_diagnostico'].touched">
            <div *ngIf="formTratamiento.controls['Diagnostico_id_diagnostico'].errors?.['required']"></div>
          </div>
        </mat-form-field>
  
        <br>
        <button button type="submit" class="ancho" mat-raised-button color="primary" [disabled]="formTratamiento.invalid" (click)="guardarTratamiento()">Guardar</button>
      </form>
    </div>
  </div>
  