<!-- Topbar Start -->
<div class="container-fluid">
    <div class="row py-3 px-lg-5">
        <div class="col-lg-4">
            <a href="" class="navbar-brand d-none d-lg-block">
                <h1 class="m-0 display-5 text-capitalize">
                  <span class="text-primary">Casa de </span>la mascota
                  <img src="../../../../assets/images/logo.png" style="height: 34px; width: 40px;">
              </h1>
            </a>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
            <div class="d-inline-flex align-items-center">
                <div class="d-inline-flex flex-column text-center pr-3 border-right">
                    <h6 style="font-size: 15px;">Abierto</h6>
                    <p class="m-0">8:00AM - 9:00PM</p>
                </div>
                <div class="d-inline-flex flex-column text-center px-3 border-right">
                    <h6 style="font-size: 15px;">Correo</h6>
                    <p class="m-0">petHouse&#64;example.com</p>
                </div>
                <div class="d-inline-flex flex-column text-center pl-3">
                    <h6 style="font-size: 15px;">Llamanos</h6>
                    <p class="m-0">+012 345 6789</p>
                </div>
                <div class="d-inline-flex flex-column text-center pl-3">
                    <app-user-profile *ngIf="auth0.isAuthenticated$ | async"></app-user-profile>
                    <!-- Botón de Login -->
                    <app-login-button *ngIf="!(auth0.isAuthenticated$ | async)"></app-login-button>
                    <!-- Botón de Logout -->
                    <app-logout-button *ngIf="auth0.isAuthenticated$ | async"></app-logout-button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Topbar End -->
  
  <!-- Navbar Start -->
  <div class="container-fluid p-0">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-lg-5">
        <a href="" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 display-5 text-capitalize font-italic text-white"><span class="text-primary">Casa de </span>la mascota</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse px-3" id="navbarCollapse">
            <div class="navbar-nav  py-0">
                <a href="/" class="nav-item nav-link">Inicio</a>
                <!-- Links visibles para todos los usuarios -->
                <a href="/educativo" class="nav-item nav-link" >Edúcate</a>
                <a href="/app-mapa" class="nav-item nav-link" >Mapa</a>
                <a href="/adopciones" class="nav-item nav-link">Adopta un<br> nuevo amigo</a>
                <a href="/agenda-cita-doctor" class="nav-item nav-link">Reserva <br> una cita</a>
                <!-- Links específicos para roles -->
                <div *ngIf="auth0.isAuthenticated$ | async">
                <!-- Ejemplo para el rol 'doctor' -->
                    <ng-container *ngIf="roles | async as userRoles">
                        <a href="/citas-agendadas-doctor" class="nav-item nav-link" *ngIf="userRoles.includes('doctor')">Citas agendadas</a>
                       <!-- Solo lo ven los enfermeros, doctores y admin -->
                        <div class="nav-item dropdown" >
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" *ngIf="userRoles.includes('doctor') || userRoles.includes('enfermero') || userRoles.includes('admin')">Agregar</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="/cirugia-formulario-doctor" class="dropdown-item" *ngIf="userRoles.includes('doctor') || userRoles.includes('enfermero') || userRoles.includes('admin')">Agregar cirugia</a>
                                <a href="/tratamiento-formulario" class="dropdown-item" *ngIf="userRoles.includes('doctor') || userRoles.includes('enfermero') || userRoles.includes('admin')">Agregar tratamiento</a>
                                <a href="/mascota-formulario" class="dropdown-item" *ngIf="userRoles.includes('doctor') || userRoles.includes('enfermero') || userRoles.includes('admin')">Agregar mascota</a>
                                <a href="/agregar_registro" class="dropdown-item" *ngIf="userRoles.includes('doctor') || userRoles.includes('enfermero') || userRoles.includes('admin')">Agregar persona</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <!-- Solo lo ven los enfermeros, doctores y admin -->
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" *ngIf="userRoles.includes('doctor') || userRoles.includes('enfermero') || userRoles.includes('admin')">Registros</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="/registro" class="dropdown-item" *ngIf="userRoles.includes('admin')">Doctores</a>
                                <a href="/lista-cirugia" class="dropdown-item" *ngIf="userRoles.includes('doctor') || userRoles.includes('enfermero') || userRoles.includes('admin')">Cirugias</a>
                                <a href="/lista-tratamientos" class="dropdown-item" *ngIf="userRoles.includes('doctor') || userRoles.includes('enfermero') || userRoles.includes('admin')">Tratamientos</a>
                                <a href="/citas-agendadas" class="dropdown-item" *ngIf="userRoles.includes('doctor') || userRoles.includes('enfermero') || userRoles.includes('admin')">Citas agendadas</a>
                            </div>
                        </div>
                        

                    </ng-container>

                </div>
            </div>
        </div>
    </nav>
  </div>
  <!-- Navbar End -->