<app-navbar-doctor></app-navbar-doctor>
<br>
<h1 class="display-1" style="font-family:'Copperplate';text-align: center;">La Casa De La Mascota</h1>
<br>
  <div class="recursos" style="max-width: 80%; margin-left: 10%;">
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>Misión</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Brindar atención veterinaria de calidad y compasiva a las mascotas, promoviendo su bienestar y fortaleciendo los lazos entre las familias y sus fieles compañeros. Nos esforzamos por ser un refugio de confianza donde cada mascota reciba cuidado experto y amoroso.</p>
            </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">
          <img mat-card-image src="https://scontent.flpb1-1.fna.fbcdn.net/v/t39.30808-6/367702708_674166101411661_5222887878607443939_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=3GpDXDviM3gAX8RlkgY&_nc_ht=scontent.flpb1-1.fna&oh=00_AfC_crh3CZ_0uz-JWEXp3wm38QikzJ4FdmWfAiDCZPP9XQ&oe=64E77CB1" alt="Photo of a Shiba Inu">  
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <hr>
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
        <mat-card class="example-card">
          <img mat-card-image src="https://scontent.flpb1-1.fna.fbcdn.net/v/t39.30808-6/363934493_664363102391961_5054202723582937242_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=ZFWvgSvgfKkAX9AJ6wE&_nc_ht=scontent.flpb1-1.fna&oh=00_AfDPdrdR-qsLzR_no_FPO3bMp_IQsBAt8SikMvA6_yXc_A&oe=64E7C07C" alt="Photo of a Shiba Inu">  
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Visión</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Ser reconocidos como líderes en atención veterinaria, estableciendo estándares de excelencia en el cuidado de las mascotas. Aspiramos a construir una comunidad en la que la salud y la felicidad animal sean prioridades fundamentales, impactando positivamente la vida de las familias y sus queridos animales.</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <hr>
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Objetivo</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Nuestro objetivo es proporcionar servicios veterinarios integrales y personalizados que aborden las necesidades individuales de cada mascota. Buscamos educar a los dueños de mascotas sobre prácticas de cuidado responsable y prevención de enfermedades, a la vez que fomentamos un entorno de confianza y respeto mutuo entre los profesionales veterinarios, los animales y sus familias.</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
              <img mat-card-image src="https://scontent.flpb1-1.fna.fbcdn.net/v/t39.30808-6/362254050_661084356053169_5774471805316326471_n.jpg?stp=cp6_dst-jpg&_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=yQGNWMPcm00AX8T_KFu&_nc_ht=scontent.flpb1-1.fna&oh=00_AfB8SV3noVl1kBJD7p_kHl1dugekrbr-PfjQKBsbDL0cOQ&oe=64E6EAF8" alt="Photo of a Shiba Inu">  
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <hr>
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <mat-card class="example-card">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2274.655530929053!2d-68.11708595441439!3d-16.500868654677998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f205cd1e600fb%3A0x299dd3860cd88824!2sCasa%20de%20la%20Mascota!5e0!3m2!1ses-419!2sbo!4v1692572664311!5m2!1ses-419!2sbo" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Ubicación</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>La Casa de la Mascota se encuentra estratégicamente ubicada en Regimiento Castrillo #4 de la ciudad de La Paz.</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <hr>
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                <mat-card-title>Contáctanos</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <p>Si deseas ponerte en contacto con nosotros para obtener más información sobre nuestros servicios veterinarios o para agendar una cita, no dudes en comunicarte a través de los siguientes canales:</p>
                </mat-card-content>
                <mat-card-actions style="color: blue;">
                    <button mat-button onclick="window.location.href='https://www.facebook.com/CasadelaMascota/'">Facebook</button>
                    <button mat-button onclick="window.location.href='https://www.facebook.com/CasadelaMascota/'">Instagram</button>
                    <button mat-button onclick="window.location.href='https://www.facebook.com/CasadelaMascota/'">Whatsapp</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
              <img mat-card-image src="https://scontent.flpb1-1.fna.fbcdn.net/v/t39.30808-6/339500231_3395990110663924_567661187427457222_n.png?stp=dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=19026a&_nc_ohc=dm6g3485oF0AX8bYcRl&_nc_ht=scontent.flpb1-1.fna&oh=00_AfBDthekp4WGb7nwPH1MTBSpz97kNCTl6nNgDnTpoyXCYA&oe=64E82C2F" alt="Photo of a Shiba Inu">  
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
  </div>




